<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsu.lkrf.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.lsu.lkrf.bean.Menu">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="addr" column="addr" jdbcType="VARCHAR"/>
            <result property="upId" column="up_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,addr,
        up_id,state,remark,
        update_time
    </sql>
    <select id="getAllMenus" resultType="com.lsu.lkrf.bean.Menu">
        select name from menu where id in(
            select id_menu from privilege_menu where id_privilege in(
                select id_privilege from role_privilege where id_role=(
                    select role from user where user.id=#{id} and state=1
                    )and state=1
                )and state=1
            )and state=1
    </select>
</mapper>
